@import "./variables.scss";

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body, a, button{
    cursor: none;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    margin: 0;
    font-size: 16px;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
    background: linear-gradient($white 7.5%, $januariusBlue 25%, $black 42.5%);
}
h1, h2, h3{
    font-family: "superclarendon";
}
h2{
    color: $white;
    font-size: $h2;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

p{
    color: $white;
    font-family: "Source Sans Pro";
}

@media all and (max-width: 576px){
    body{
        font-size: 12px;
    }
}

::selection{
    background: $janusGreen;
    opacity: 1;
}