@import "./variables.scss";

.exn_content{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &1,&2,&3{
        .exn_content_title{
            text-align: center;
        }
    }
    &3{
        .exn_content_title{
            position: relative;
            &:before{
                content:' ';
                position: absolute;
                width: 105%;
                height: 60%;
                top:25%;
                left:-5%;
                transform: rotate(-0.97deg);
                background: $januariusBlue;
            }
        }
    }
    &_promo{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 25;
        .col1{
            width: 35%;
            margin: 0 3em 0 6em;
            p{
                font-family: "Source Sans Pro";
            }
            a.btn{
                text-decoration: none;
                button{
                    border: 1px solid $white;
                    background: none;
                    padding: 1em 2em;
                    font-family: 'superclarendon';
                    color: $white;
                    border-radius: 2em;
                    font-size: 0.875rem;
                    transition: all 0.5s ease-in-out;
                    margin-top: 1rem;
                    &:hover{
                        background: $white;
                        color: $black;
                    }
                }
                }
        }
        .col2{
            width: 65%;
            height: 65vh;
            margin: 0 6em 0 3em;
            .exn_content_promo_video{
                background: $white;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 5;
                &:after{
                    content: 'Vidéo promo';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 42.5%;
                    text-align: center;
                    font-size: 2em;
                    font-weight: bold;
                }
            }
        }
    }
    .exn_round_container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        &1{
            .round{
                &:nth-child(1){
                    width: 30rem;
                    height: 30rem;
                    top: 45%;
                    left: 25%;
                }
                &:nth-child(2){
                    width: 12.5rem;
                    height: 12.5rem;
                    top: 75%;
                    right: 5%;
                }
                &:nth-child(3){
                    width: 10rem;
                    height: 10rem;
                    top: 100%;
                    left: 40%;
                }
            }
        }
        &2{
            .round{
                &:nth-child(1){
                    width: 8rem;
                    height: 8rem;
                    top: 80%;
                    left: 25%;
                }
                &:nth-child(2){
                    width: 2.5rem;
                    height: 2.5rem;
                    top: 70%;
                    left: 45%;
                }
                &:nth-child(3){
                    width: 6rem;
                    height: 6rem;
                    top: 97.5%;
                    left: 75%;
                    z-index: 25;
                }
                &:nth-child(4){
                    width: 1rem;
                    height: 1rem;
                    top: 65%;
                    left: 80%;
                }
            }
            img.small{
                top: 75%;
                left: 22.5%;
                width: 5rem;
            }
            img.medium{
                top: 85%;
                right: 0%;
                width: 7rem;
            }
        }
        &4{
            .round{
                &:nth-child(1){
                    width: 4rem;
                    height: 4rem;
                    top: 90%;
                    left: 10%;
                }
                &:nth-child(2){
                    width: 9.5rem;
                    height: 9.5rem;
                    top: 100%;
                    left: 40%;
                }
            }
            img.round{
                top: 70%;
                right: -10%;
                z-index: 0;
                width: 25rem;
            }
        }
        .blackborder{
            border: 1px $black solid;
        }
        .whiteborder{
            border: 1px $white solid;
        }
        .fullwhite{
            background-color: $white;
        }
        .blackbg{
            background-color: $black;
        }
        .round{
            transform:translate(-50%,-50%);
            transform-origin: center;
            position: absolute;
            border-radius: 100%;
        }
    }
}

@media all and (max-width: 768px){
    .exn_content{
        &3{
            .exn_content_title{
                &:before{
                    width: 100vw;
                    height: 60%;
                    top:25%;
                    left:0;
                    transform: rotate(-0.97deg);
                    background: $januariusBlue;
                }
            }
        }
    }
}
@media all and (max-width: 1024px){
    .exn_content{
        .exn_round_container{
            &1{
                .round{
                    &:nth-child(1){
                        width: 20rem;
                        height: 20rem;
                    }
                    &:nth-child(2){
                        width: 7.5rem;
                        height: 7.5rem;
                    }
                    &:nth-child(3){
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }
            &4{
                .round{
                    &:nth-child(1){
                        width: 4rem;
                        height: 4rem;
                    }
                    &:nth-child(2){
                        width: 8rem;
                        height: 8rem;
                        left: 50%
                    }
                }
            }
            img{
                display: none;
            }
        }
        &_promo{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .col1, .col2{
                width: 95%;
                margin: 0;
            }
            .col2{
                margin-top: 1em;
                height: 35vh;
                .exn_content_promo_video{
                    height: 100%;
                }
            }
        }
    }
}
