@font-face {
    font-family: "Acumin";
    src: url("~@/assets/fonts/Acumin-BdItPro.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Acumin";
    src: url("~@/assets/fonts/Acumin-BdPro.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Acumin";
    src: url("~@/assets/fonts/Acumin-ItPro.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Acumin";
    src: url("~@/assets/fonts/Acumin-RPro.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Acumin";
    src: url("~@/assets/fonts/Acumin-MPro.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cairo";
    src: url("~@/assets/fonts/Cairo-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SourceSans";
    src: url("~@/assets/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}
@import url("https://use.typekit.net/rnx1owj.css");
// @font-face {
//     font-family: "Superclarendon";
//     src: url("~@/assets/fonts/SuperclarendonRg.ttf") format("truetype");
//     font-weight: normal;
//     font-style: normal;
// }